@charset "utf-8";
/* CSS Document */

/* CSS variables */
:root {

}

@media screen and (max-width: 400px){
  #restaurants-list p.restaurant-address {
    font-size: 10px;
  }
  #restaurants-list li h1 {
    font-size: 16px;
  }
}

#maincontent, #restaurants-list, #filter-container, #reviews-list {
  display: flex;
  flex-wrap: wrap;
}

#reviews-list li {
  min-width: 100px;
  width: 100%;
}


@media screen and (min-width: 600px){

  .filter-options {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-options h2{
    width: 10%;
  }

  .filter-options select {
    width: 33%;
  }

  #reviews-list li {
    width: 25%;
  }
}


/* restaurant.html page has .insde class in the body */
.inside #map-container {
  width: 100%;
  height: 100%;
  /* top: 100px;*/
  position: relative;    
  order: 2;
}
/* need to specify a specific height for the map element*/
.inside #map {
  min-height: 200px;
}
.inside #restaurant-container{
  width: 100%;
  order: 1;
} 
.inside #reviews-container {
  width: 100%;
  order: 3;
}

@media screen and (min-width: 800px){
  .inside #restaurant-container {
    width: 50%;
    padding: 100px 0px 30px 10px;
  } 
  .inside #map-container {
    padding: 100px 0px 30px 0px;
    width: 40%;
    background-color: #f3f3f3;
    top: 100px;
  }
  .inside #map {
    min-height: 400px;
  }
}